.normal-container {
    width: 540px;
}

.nav-header {
    background-color: #0275d8;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.login-container {
    max-width: 350px;
}
