.normal-container {
    width: 540px;
}

.image-title {
    background-color: #0275d8;
    padding: 5px;
    text-align: center;
    color: white;
}

.img-div {
    text-align: center;
}

.nav-header {
    background-color: #0275d8;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}


.thumbnail {
    width: 240px;
    height: 240px;
    overflow-x: visible;
    overflow-y: visible;
    background-size: 100% auto;
}

.fig {
    padding: 5px;
}

.login-container {
    max-width: 350px;
}
