.normal-container {
    width: 540px;
}

.image-block {
    background-color: #0275d8;
    padding: 5px;
    color: white;
}

.icon {
    margin: 0px 5px;
}

.icon:hover {
    cursor: pointer;
}

.nav-link {
    text-align: center;
}

.image-title {
    display: inline;
}

.user-link {
    color: white;
}

.user-link:hover {
    color:white;
}


.force-right {
    float: right;

}

.top {
    border-radius: 10px 10px 0 0;
}

.bottom {
    border-radius: 0 0 10px 10px;
}

.fa-arrow-circle-up:hover {
    color: #5cb85c;
}

.fa-arrow-circle-down:hover {
    color: #d9534f;
}

.centered {
text-align: center;
}

.img-div {
    text-align: center;
}

.nav-header {
    background-color: #0275d8;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}


.thumbnail {
    width: 240px;
    height: 240px;
    overflow-x: visible;
    overflow-y: visible;
    background-size: 100% auto;
}

.fig {
    padding: 5px;
}

.login-container {
    max-width: 350px;
}
