<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Oops"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="container normal-container margin top">
    <div class="row">
        <div class="col-md-4 nav-link">
            <span class="error-header">Oops, something went wrong :(</span>
        </div>
    </div>
</div>
</body>
<script src="https://use.fontawesome.com/ae29b6f194.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/error.js"/>
</html>