<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Minigur | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="container normal-container margin top">
    <div class="row">
        <div class="col-md-4 nav-link">
            <a href="/user">My Account</a>
        </div>
        <div class="col-md-4 nav-link">
            <a href="/">Minigur</a>
        </div>
        <div class="col-md-4 nav-link">
            <div>
                <a id="logout" href="#">Log Out</a>
            </div>
        </div>
    </div>
</div>
<nav class="nav-header margin">
    <h3>Upload an Image</h3>
</nav>
<div class="container normal-container">
    <form id="image-upload" method="post" enctype="multipart/form-data" action="/image">
        <div class="form-group">
            <label for="title">Title of the Image</label>
            <input type="text" class="form-control" name="title" id="title" required="required"/>
        </div>
        <div class="form-group">
            <label for="image-file">Image to Upload (Max 10 MB)</label>
            <input name="file" type="file" class="form-control-file" id="image-file"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<nav class="nav-header margin">
    <h3>Search for an Image</h3>
</nav>
<div class="container">
    <div class="container normal-container">
        <form method="get" action="/search">
            <div class="input-group">
                <input id="query" name="query"  type="text" class="form-control" placeholder="Search for..."/>
                <span class="input-group-btn">
                <button class="btn btn-primary btn-search" type="submit ">Search!</button>
            </span>
            </div>
            <div class="margin">
            <span>
                Search Through:
            </span>
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="comment" name="comment" value="everything"/> Comments
                </label>
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="tag" name="tag" value="tag"/> Tags
                </label>
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="user" name="user" value="user"/> Usernames
                </label>
            </div>
        </form>
    </div>
</div>
<nav class="nav-header margin">
    <h3>Recently Uploaded Images</h3>
</nav>
<div class="container normal-container">
    <div class="gallery">
        <figure class="fig" th:each="image : ${images}">
            <a th:href="${image.imageUrl}">
                <img class="thumbnail rounded"
                     th:style="${'background-image: url(https://s3-us-west-2.amazonaws.com/minigur/' + image.imageUrl + '.jpg)'}"/>
            </a>
            <figcaption class="figure-caption text-xs-right">
                <span th:text="${image.imageTitle + ' | '}"/>
                <a th:href="${'/user/' + image.imageOwner.username}" th:text="${image.imageOwner.username}"/>
            </figcaption>
        </figure>
    </div>
</div>
</body>
<script src="/scripts/main.js"/>
</html>