<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${image.imageTitle + '| Minigur'}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="container normal-container margin top">
    <div class="row">
        <div class="col-md-4 nav-link">
            <a href="/user">My Account</a>
        </div>
        <div class="col-md-4 nav-link">
            <a href="/">Minigur</a>
        </div>
        <div class="col-md-4 nav-link">
            <div>
                <a id="logout" href="#">Log Out</a>
            </div>
        </div>
    </div>
</div>
<div class="container normal-container">
    <div class="image-block centered">
        <h1 class="image-title" th:text="${image.imageTitle}"/>
        <a th:href="${'user/' + image.imageOwner.username}" th:text="${image.imageOwner.username}"
           class="user-link force-right"/>
        <th:block th:if="${canDelete}">
            <a id="delete-image" th:text="DELETE"
               class="user-link delete-btn"/>
        </th:block>

    </div>
    <div class="img-div">
        <a th:href="${'https://s3-us-west-2.amazonaws.com/minigur/' + image.imageUrl + '.jpg'}">
            <img class="img-fluid" th:src="${'https://s3-us-west-2.amazonaws.com/minigur/' + image.imageUrl + '.jpg'}"/>
        </a>
    </div>
</div>
<div class="container normal-container">
    <div class="image-block clearfix">
        <i class="fa fa-arrow-circle-up fa-3x icon" id="upvote" aria-hidden="true"></i>
        <span class="vote-text" th:text="${upvotes + ' UPVOTES'}"/>
        <i class="fa fa-arrow-circle-down fa-3x icon" id="downvote" aria-hidden="true"></i>
        <span class="vote-text" th:text="${downvotes + ' DOWNVOTES'}"/>
    </div>
    <div class="margin tag-box">
        <th:block th:each="tag : ${tags}">
            <span class="tag-element"><a th:href="${'/tag/' + tag.tag}" th:text="${tag.tag + ' [' + tag.count + ']'}"/> </span>
        </th:block>
        <form method="post" th:class="tag-input" th:action="${'/tag/' + image.imageUrl + '/'}">
            <input type="text" class="form-control form-control-sm tag-form" name="tag" placeholder="Post a tag"/>
        </form>
    </div>
    <p class="comment-lister margin" th:text="${commentSize + ' COMMENTS'}"/>
    <div class="input-group">
        <input type="text" id="post-input" class="form-control" placeholder="Write a comment"/>
        <span class="input-group-btn">
        <button class="btn btn-primary" id="post-button" type="button">Post</button>
      </span>
    </div>
    <div class="margin" th:each="comment : ${comments}" th:id="${comment.commentID}">
        <blockquote class="blockquote">
            <p class="mb-0" th:text="${comment.text}"/>
        </blockquote>
        <footer class="blockquote-footer" th:text="${'Written by ' + comment.ownerUser.username + ' on ' + comment.postedDate}"/>
    </div>
</div>
</body>
<script src="https://use.fontawesome.com/ae29b6f194.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/image.js"/>
</html>