<html>
<head>
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<h1 style="margin-left: 35%">Welcome to Minigur!</h1>
<div class="container">
    <div class="inner-container" style="margin-top: 5%;margin-left: 32%;width: 30%;">
        <form>
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username"><br>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="text" name="password" id="password"><br>
                </div>
        </form>

        <div class="buttons">
            <button type="button" class="btn btn-default btn-login" style="width: 100%;background-color: grey;color: white">Login</button>
            <div class="register-button" style="margin-top: 2%;"">
            <button type="button" class="btn btn-default btn-register" style="height: 3.5%;width: 100%;background-color: #337ab7;"></button>
            <p style="margin-top: -6%;margin-left: 43%;color: white">Register</p>
        </div>
    </div>
</div>

</div>
</div>

</body>
</html>