<html>
<head>
    <title>Search</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/search.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/search.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


    <script>
        $(document).ready(function () {
            $('.btn-search').on('click', function () {
                executeSearch();
            });
        });
    </script>

</head>
<body>
<h1 class="search-header">Search Minigur!</h1>

<div class="container">
    <div class="search-container">
        <form class="search-form">
            <div class="form-group col-md-6">
                <label for="password">Query:</label>
                <input class="form-control" type="text" name="query" id="query"/><br/>
            </div>
            <div class="form-group col-md-4">
                <label for="search-criteria">Filter:</label>
                <select class="form-control" name="search-critera" id="filter">
                    <option value="all"></option>
                    <option value="tags">Tags</option>
                    <option value="comments">Comments</option>
                    <option value="users">Users</option>
                    <option value="images">Images</option>
                </select>
            </div>
        </form>

        <div class="buttons btn-container col-md-2">
            <button type="button" class="btn btn-default btn-search">Search</button>
        </div>
    </div>
</div>

</body>
</html>