<html>
<head>
    <title>Search</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/search.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/search.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


    <script>
        $(document).ready(function () {
            $('.btn-search').on('click', function () {
                executeSearch();
            });
        });
    </script>

</head>
<body>
<nav class="nav-header margin">
    <h3>Search for an Image</h3>
</nav>

<div class="container">
    <div class="query-container container normal-container">
        <div class="input-group">
            <input id="query" type="text" class="form-control" placeholder="Search for..."/>
            <span class="input-group-btn">
                <button class="btn btn-primary btn-search" type="button">Search!</button>
            </span>
        </div>
    </div>

    <div class="filter-container container normal-container">
        <div class="input-group">
            <input type="checkbox" id="everything" name="everything" value="everything">Everything</input>
            <input type="checkbox" id="title" name="title" value="title">Title</input>
            <input type="checkbox" id="comment" name="comment" value="comment">Comment</input>
            <input type="checkbox" id="tag" name="tag" value="tag">Tag</input>
            <input type="checkbox" id="user" name="user" value="user">User</input>
        </div>
    </div>

</div>

</body>
</html>