<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="container normal-container margin top">
    <div class="row">
        <div class="col-md-4 nav-link">
            <a href="/user">My Account</a>
        </div>
        <div class="col-md-4 nav-link">
            <a href="/">Minigur</a>
        </div>
        <div class="col-md-4 nav-link">
            <div>
                <a id="logout" href="#">Log Out</a>
            </div>
        </div>
    </div>
</div>
<nav class="nav-header margin">
    <h1>Search for an Image</h1>
</nav>

<div class="container">
    <div class="container normal-container">
        <form method="get" action="/search">
            <div class="input-group">
                <input id="query" name="query"  type="text" class="form-control" th:value="${request.searchString}" placeholder="Search for..."/>
                <span class="input-group-btn">
                <button class="btn btn-primary btn-search" type="submit ">Search!</button>
            </span>
            </div>
            <div class="margin">
            <span>
                Include in Query:
            </span>
                <label class="form-check-label">
                    <input th:checked="${request.searchComment}" type="checkbox" class="form-check-input" name="comment" value="comment"/> Comments
                </label>
                <label class="form-check-label">
                    <input th:checked="${request.searchTag}" type="checkbox" class="form-check-input" name="tag" value="tag"/> Tags
                </label>
                <label class="form-check-label">
                    <input th:checked="${request.searchUsername}" type="checkbox" class="form-check-input" name="user" value="user"/> Usernames
                </label>
            </div>
        </form>
    </div>
</div>
<div class="container normal-container">
    <div class="gallery">
        <figure class="fig" th:each="image : ${images}">
            <a th:href="${image.imageUrl}">
                <img class="thumbnail rounded"
                     th:style="${'background-image: url(https://s3-us-west-2.amazonaws.com/minigur/' + image.imageUrl + '.jpg)'}"/>
            </a>
            <figcaption class="figure-caption text-xs-right">
                <span th:text="${image.imageTitle + ' | '}"/>
                <a th:href="${'/user/' + image.imageOwner.username}" th:text="${image.imageOwner.username}"/>
            </figcaption>
        </figure>
    </div>
</div>
</body>
</html>