<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Minigur | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div class="container normal-container margin top">
    <div class="row">
        <div class="col-md-4 nav-link">
            <a href="/user">My Account</a>
        </div>
        <div class="col-md-4 nav-link">
            <a href="/">Minigur</a>
        </div>
        <div class="col-md-4 nav-link">
            <div>
                <a id="logout" href="#">Log Out</a>
            </div>
        </div>
    </div>
</div>
<nav class="nav-header margin">
    <h3>
        <span>Images posted by </span>
        <span th:text="${user.username}"/>
    </h3>
</nav>
<th:block th:if="${user.getAdmin()}">
    <div class="container normal-container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group user-search">
                    <input type="text" id="user-search" class="form-control" placeholder="Search for users"></input>
                    <span class="input-group-btn">
                        <button id="search-btn" class="btn btn-primary btn-search" type="button">Search!</button>
                    </span>
                </div>
                <table class="table" id="users-table">

                </table>
            </div>
        </div>
    </div>
</th:block>
<div class="container normal-container">
    <div class="gallery">
        <figure class="fig" th:each="image : ${images}">
            <a th:href="${'/' + image.imageUrl}">
                <img class="thumbnail rounded"
                     th:style="${'background-image: url(https://s3-us-west-2.amazonaws.com/minigur/' + image.imageUrl + '.jpg)'}"/>
            </a>
            <figcaption class="figure-caption text-xs-right">
                <span th:text="${image.imageTitle + ' | '}"/>
                <a th:href="${'/user/' + image.imageOwner.username}" th:text="${image.imageOwner.username}"/>
            </figcaption>
        </figure>
    </div>
</div>
</body>
<script src="/scripts/main.js"/>
</html>